.SearchResult-container::-webkit-scrollbar {
  display: none;
}

.MyChats-Container::-webkit-scrollbar,
.ChatBoxCantainer::-webkit-scrollbar {
  display: none;
}
.MessageRedingBox::-webkit-scrollbar {
  display: none;
}
.GroupChatImgContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GroupChatimgOne,
.GroupChatimgTwo,
.GroupChatimgThree {
  width: 30px !important;
  height: 30px !important;
}
.GroupChatimgOne {
  position: absolute;
}

.GroupChatimgTwo {
  position: absolute;
  top: -10px;
}
.GroupChatimgThree {
  position: absolute;
  top: -10px;
}

.SingleChatConatiner {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 13fr 1fr;
}

.FormControllerInputSender {
  position: relative;
}

.inputGroupAttachmentIcon {
  position: absolute;
  top: 0;
}

/* Message */

.MessageRedingBox {
  padding: 8px;
  background: #2e2e2e;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll !important;
}
